<div *ngIf="showLoad && notes.length > 0" class="popup">
    <div class="load__menu">
        <h2 class="popup__title">Note load</h2>
        <app-load-item (onDeleteClick)="onDelete(note)" *ngFor="let note of notes" [note]="note"></app-load-item>
        <button (click)="onLoadClick()" class="popup__btn">Load note</button>
    </div>
    <app-delete [note]="forDelete"></app-delete>
</div>
<div *ngIf="showLoad && notes.length === 0" class="popup">
    <h2 class="popup__title">No saved notes</h2>
    <button (click)="onNoNotesClick()" class="popup__btn">OK</button>
</div>