.save__menu {
    form {
        display: flex;
        flex-direction: column;

        .save__name {
            width: 300px;
            font-size: 20px;
            padding: 5px;
            border: 0;
            border-radius: 5px;
            background-color: #fff;
            outline: 0;
            margin-bottom: 10px;
            text-align: center;
        }

        
    }
}